.titleReview {
  display: flex;
  align-items: normal !important;
  flex-direction: column;
  width: 100%;
  border-bottom: none;

  h3 {
    font-size: 30px;

    .star,
    .reviewCount {
      padding-left: 15px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  p {
    padding-top: 8px;
    font-size: 18px;
    font-weight: 300;
  }
}
