section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'notokrR', Malgun Gothic, '맑은 고딕', AppleGothic, Dotum, '돋움',
    sans-serif;

  article {
    margin-left: 80px;
  }
}
