.ProductCard {
  overflow: hidden;
  flex-wrap: nowrap;
  margin-right: 20px;

  .productName {
    margin-top: 1px;
    font-size: 18pt;
    font-weight: bold;
  }

  .productTag {
    margin-top: 10px;
    font-size: 12pt;
    font-weight: 350;
    color: #747474;
  }

  .productPrice {
    margin-top: 15px;
    font-size: 15pt;
    font-weight: bold;
  }
}
