@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard {
  @include flex-center;
  flex-direction: column;
  padding: 0 5px 30px 5px;

  .productImg {
    img {
      width: 280px;
      height: 280px;
    }
  }

  .productName {
    margin-top: 15px;
    font-size: 13pt;
    font-weight: bold;
  }

  .productTag {
    padding-top: 10px;
    font-size: 12pt;
    font-weight: 200;
    color: #747474;
  }

  .productPrice {
    margin: 20px 0;
    font-size: 16pt;
    font-weight: 350;
  }
}
