@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@mixin imgs {
  width: 100%;
  height: 100%;
}

.bannerWrap {
  display: inline-grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  height: 600px;
  z-index: -9999;

  .leftBanner {
    @include flex();
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;

    .leftBanner_text {
      position: absolute;
      top: 50px;
      font-weight: bold;
      font-size: 30pt;

      .abocado {
        color: white;
        background-color: #8db72a;
      }

      .piboo {
        background-color: #e8bc3c;
      }
    }

    .leftBanner_img {
      width: 100%;
    }
  }

  .rightBannerTop {
    @include flex();
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    .rightBannerTop_text {
      position: absolute;
      top: 40px;
      font-weight: bold;
      font-size: 30pt;
    }

    .rightBannerTop_img {
      @include imgs();
    }
  }

  .rightBannerBottom_left {
    @include flex();
    background-color: black;

    .rightBannerBottom_left_text {
      position: absolute;
      top: 70px;
      text-align: center;
      font-weight: bold;
      font-size: 40pt;
      color: white;
    }

    .rightBannerBottom_left_img {
      @include imgs();
      opacity: 0.4;
    }
  }

  .rightBannerBottom_right {
    @include flex();
    width: 100%;
    position: relative;

    .rightBannerBottom_right_text {
      position: absolute;
      top: 140px;
      font-size: 25pt;
      color: #d8d8d8;
    }

    .rightBannerBottom_right_img {
      @include imgs();
    }
  }
}
