.newProductWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 600px;
  margin-bottom: 100px;

  .productText {
    width: 380px;
    height: 300px;
    padding-top: 90px;

    h2 {
      font-weight: bold;
      font-size: 30pt;
    }

    p {
      margin-top: 30px;
      float: right;
      font-size: 15pt;
    }
  }

  .productImg {
    width: 380px;
    height: 300px;

    img {
      width: 93%;
      margin-left: 10px;
    }
  }
}
