.newProductWrap {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 600px;
  margin: 100px 0;

  .productText {
    width: 380px;
    height: 300px;
    padding-top: 90px;

    .productText_big_text {
      font-weight: bold;
      font-size: 30pt;
    }

    .productText_small_text {
      margin-top: 30px;
      float: right;
      font-size: 15pt;
    }
  }

  .productImg_longHair {
    width: 380px;
    height: 500px;

    .productImg_longHair_img {
      width: 93%;
      margin-left: 10px;
    }
  }
}
