@import '../../styles/variable.scss';

.productDetail {
  @include flex-center;
  flex-direction: column;

  .etcTab {
    width: 90%;

    .etcInfo {
      font-size: 16px;
      color: #808080;
    }
  }
}
