@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftWrap {
  padding-left: 100px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
