.allProductList {
  width: 90%;

  .listCategoryWrap {
    .categoryName {
      padding-bottom: 15px;
      color: #333;
      line-height: 30px;
      font-size: 28px;
      font-family: 'notokrB';
      font-weight: normal;
    }

    .listCategory {
      list-style: none;

      .list {
        float: left;
        margin-right: 20px;
      }
    }
  }
}
