@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-top: 150px;
  padding-bottom: 55px;
}

.mainFooter {
  @include flex-center;
  background-color: black;
  color: white;
  padding-top: 45px;
  margin-bottom: 20px;
}
