footer {
  margin-top: 150px;
  padding-bottom: 55px;
}

.mainFooter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding-top: 45px;
  margin-bottom: 20px;
}
