@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResultProductCard {
  .productImg {
    img {
      width: 300px;
      height: 300px;
    }
  }

  .productName {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 350;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .productTag {
    padding-top: 5px;
    font-size: 12pt;
    font-weight: 200;
    color: #747474;
  }

  .productPrice {
    margin-top: 15px;
    font-size: 15pt;
    font-weight: bold;
    margin-top: 15px;
    font-size: 15pt;
    font-weight: bold;
    color: black;
  }
}
