.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  padding: 20px;
  width: 90%;
  height: 100%;

  .subject {
    padding: 50px;

    h1 {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .signInBox {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        height: 50px;
        width: 290px;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: normal;
      }

      .signup {
        padding: 20px;
        font-size: 14px;
      }
    }

    .idInput,
    .pwInput,
    .InputSibutton {
      text-align: center;
      color: #8c8c8c;
      font-size: 16px;
      display: flex;
      margin: 20px;
      height: 50px;
      width: 290px;
    }
  }
}
